<p id="notice"><%= notice %></p>

<p>
  <b>Theen1:</b>
  <%= @tag.theen1 %>
</p>

<p>
  <b>Theen2:</b>
  <%= @tag.theen2 %>
</p>

<p>
  <b>Theen3:</b>
  <%= @tag.theen3 %>
</p>


<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
